---
- name: Pre-deployment setup
  include_tasks: setup.yml

- name: Check for pre-built Docker images
  include_tasks: check-images.yml

- name: Deploy application files
  include_tasks: deploy.yml

- name: Handle certificates
  include_tasks: certificates.yml

- name: Start services
  include_tasks: start-services.yml

- name: Wait for database startup
  pause:
    seconds: 6
    prompt: "Waiting for databases to fully start up..."

# todo: build dev / target db url with ansible vars
- name: Migrate Database
  shell: python -m src.bin.migrate_database --source dev --target {{ ansible_host }} -y
  args:
    chdir: "{{ playbook_dir }}/.."
  delegate_to: localhost
