.coverage
.env
.vscode
.venv
.pytest_cache
.ruff_cache

__pycache__

uv.lock

*.log

infra/database-data/
infra/pgadmin/

infra/group_vars/production.yml
infra/inventories/production

certificates/
notebooks/
outputs/
docs/

ui/dist

**/*.egg-info/
**/node_modules/
